tests/obj/Debug/net8.0/refint/tests.dll
.vs/Gene_Algo_.Net/DesignTimeBuild/.dtbcache.v2
.vs/Gene_Algo_.Net/FileContentIndex/9cedf8ca-89e3-4758-bd35-eb70dcd5d185.vsidx
.vs/Gene_Algo_.Net/v17/.futdcache.v2
.vs/Gene_Algo_.Net/v17/.suo
.vs/Gene_Algo_.Net/v17/DocumentLayout.backup.json
.vs/Gene_Algo_.Net/v17/DocumentLayout.json
.vs/Gene_Algo_.Net/v17/TestStore/0/000.testlog
.vs/Gene_Algo_.Net/v17/TestStore/0/testlog.manifest
.vs/ProjectEvaluation/gene_algo_.net.metadata.v9.bin
.vs/ProjectEvaluation/gene_algo_.net.projects.v9.bin
.vs/ProjectEvaluation/gene_algo_.net.strings.v9.bin
app/bin/Debug/net8.0/app.deps.json
app/bin/Debug/net8.0/app.dll
app/bin/Debug/net8.0/app.exe
app/bin/Debug/net8.0/app.pdb
app/bin/Debug/net8.0/app.runtimeconfig.json
app/bin/Debug/net8.0/lib.dll
app/bin/Debug/net8.0/lib.pdb
app/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
app/obj/Debug/net8.0/app.AssemblyInfo.cs
app/obj/Debug/net8.0/app.AssemblyInfoInputs.cache
app/obj/Debug/net8.0/app.assets.cache
app/obj/Debug/net8.0/app.csproj.AssemblyReference.cache
app/obj/Debug/net8.0/app.csproj.BuildWithSkipAnalyzers
app/obj/Debug/net8.0/app.csproj.CoreCompileInputs.cache
app/obj/Debug/net8.0/app.csproj.FileListAbsolute.txt
app/obj/Debug/net8.0/app.csproj.Up2Date
app/obj/Debug/net8.0/app.dll
app/obj/Debug/net8.0/app.GeneratedMSBuildEditorConfig.editorconfig
app/obj/Debug/net8.0/app.genruntimeconfig.cache
app/obj/Debug/net8.0/app.GlobalUsings.g.cs
app/obj/Debug/net8.0/app.pdb
app/obj/Debug/net8.0/app.sourcelink.json
app/obj/Debug/net8.0/apphost.exe
app/obj/Debug/net8.0/ref/app.dll
app/obj/Debug/net8.0/refint/app.dll
app/obj/app.csproj.nuget.dgspec.json
app/obj/app.csproj.nuget.g.props
app/obj/app.csproj.nuget.g.targets
app/obj/project.assets.json
app/obj/project.nuget.cache
lib/bin/Debug/net8.0/lib.deps.json
lib/bin/Debug/net8.0/lib.dll
lib/bin/Debug/net8.0/lib.pdb
lib/obj/lib.csproj.nuget.dgspec.json
lib/obj/lib.csproj.nuget.g.props
lib/obj/lib.csproj.nuget.g.targets
lib/obj/project.assets.json
lib/obj/project.nuget.cache
lib/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
lib/obj/Debug/net8.0/lib.AssemblyInfo.cs
lib/obj/Debug/net8.0/lib.AssemblyInfoInputs.cache
lib/obj/Debug/net8.0/lib.assets.cache
lib/obj/Debug/net8.0/lib.csproj.BuildWithSkipAnalyzers
lib/obj/Debug/net8.0/lib.csproj.CoreCompileInputs.cache
lib/obj/Debug/net8.0/lib.csproj.FileListAbsolute.txt
lib/obj/Debug/net8.0/lib.dll
lib/obj/Debug/net8.0/lib.GeneratedMSBuildEditorConfig.editorconfig
lib/obj/Debug/net8.0/lib.GlobalUsings.g.cs
lib/obj/Debug/net8.0/lib.pdb
lib/obj/Debug/net8.0/lib.sourcelink.json
lib/obj/Debug/net8.0/ref/lib.dll
lib/obj/Debug/net8.0/refint/lib.dll
tests/bin/Debug/net8.0/CoverletSourceRootsMapping_tests
tests/bin/Debug/net8.0/lib.dll
tests/bin/Debug/net8.0/lib.pdb
tests/bin/Debug/net8.0/Microsoft.TestPlatform.CommunicationUtilities.dll
tests/bin/Debug/net8.0/Microsoft.TestPlatform.CoreUtilities.dll
tests/bin/Debug/net8.0/Microsoft.TestPlatform.CrossPlatEngine.dll
tests/bin/Debug/net8.0/Microsoft.TestPlatform.PlatformAbstractions.dll
tests/bin/Debug/net8.0/Microsoft.TestPlatform.Utilities.dll
tests/bin/Debug/net8.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.Common.dll
tests/bin/Debug/net8.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
tests/bin/Debug/net8.0/Newtonsoft.Json.dll
tests/bin/Debug/net8.0/NuGet.Frameworks.dll
tests/bin/Debug/net8.0/testhost.dll
tests/bin/Debug/net8.0/testhost.exe
tests/bin/Debug/net8.0/tests.deps.json
tests/bin/Debug/net8.0/tests.dll
tests/bin/Debug/net8.0/tests.pdb
tests/bin/Debug/net8.0/tests.runtimeconfig.json
tests/bin/Debug/net8.0/xunit.abstractions.dll
tests/bin/Debug/net8.0/xunit.assert.dll
tests/bin/Debug/net8.0/xunit.core.dll
tests/bin/Debug/net8.0/xunit.execution.dotnet.dll
tests/bin/Debug/net8.0/xunit.runner.reporters.netcoreapp10.dll
tests/bin/Debug/net8.0/xunit.runner.utility.netcoreapp10.dll
tests/bin/Debug/net8.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/bin/Debug/net8.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/bin/Debug/net8.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/bin/Debug/net8.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/bin/Debug/net8.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/bin/Debug/net8.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/bin/Debug/net8.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/bin/Debug/net8.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/bin/Debug/net8.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/bin/Debug/net8.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/bin/Debug/net8.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/bin/Debug/net8.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/bin/Debug/net8.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/bin/Debug/net8.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/bin/Debug/net8.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/bin/Debug/net8.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/bin/Debug/net8.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/bin/Debug/net8.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/bin/Debug/net8.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/bin/Debug/net8.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/bin/Debug/net8.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/bin/Debug/net8.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/bin/Debug/net8.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/bin/Debug/net8.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/bin/Debug/net8.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/bin/Debug/net8.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/bin/Debug/net8.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
tests/obj/Debug/net8.0/tests.AssemblyInfo.cs
tests/obj/Debug/net8.0/tests.AssemblyInfoInputs.cache
tests/obj/Debug/net8.0/tests.assets.cache
tests/obj/Debug/net8.0/tests.csproj.AssemblyReference.cache
tests/obj/Debug/net8.0/tests.csproj.BuildWithSkipAnalyzers
tests/obj/Debug/net8.0/tests.csproj.CoreCompileInputs.cache
tests/obj/Debug/net8.0/tests.csproj.FileListAbsolute.txt
tests/obj/Debug/net8.0/tests.csproj.Up2Date
tests/obj/Debug/net8.0/tests.dll
tests/obj/Debug/net8.0/tests.GeneratedMSBuildEditorConfig.editorconfig
tests/obj/Debug/net8.0/tests.genruntimeconfig.cache
tests/obj/Debug/net8.0/tests.GlobalUsings.g.cs
tests/obj/Debug/net8.0/tests.pdb
tests/obj/Debug/net8.0/tests.sourcelink.json
tests/obj/Debug/net8.0/ref/tests.dll
tests/obj/project.assets.json
tests/obj/project.nuget.cache
tests/obj/tests.csproj.nuget.dgspec.json
tests/obj/tests.csproj.nuget.g.props
tests/obj/tests.csproj.nuget.g.targets
.vscode/settings.json
app/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
app/obj/Release/net8.0/app.AssemblyInfo.cs
app/obj/Release/net8.0/app.AssemblyInfoInputs.cache
app/obj/Release/net8.0/app.assets.cache
app/obj/Release/net8.0/app.csproj.AssemblyReference.cache
app/obj/Release/net8.0/app.csproj.CoreCompileInputs.cache
app/obj/Release/net8.0/app.csproj.FileListAbsolute.txt
app/obj/Release/net8.0/app.csproj.Up2Date
app/obj/Release/net8.0/app.dll
app/obj/Release/net8.0/app.GeneratedMSBuildEditorConfig.editorconfig
app/obj/Release/net8.0/app.genruntimeconfig.cache
app/obj/Release/net8.0/app.GlobalUsings.g.cs
app/obj/Release/net8.0/app.pdb
app/obj/Release/net8.0/app.sourcelink.json
app/obj/Release/net8.0/apphost.exe
app/obj/Release/net8.0/ref/app.dll
app/obj/Release/net8.0/refint/app.dll
app/bin/Release/net8.0/app.deps.json
app/bin/Release/net8.0/app.dll
app/bin/Release/net8.0/app.exe
app/bin/Release/net8.0/app.pdb
app/bin/Release/net8.0/app.runtimeconfig.json
app/bin/Release/net8.0/lib.dll
app/bin/Release/net8.0/lib.pdb
lib/bin/Release/GeneAlgoPack.0.1.2409.22.nupkg
lib/bin/Release/net8.0/lib.deps.json
lib/bin/Release/net8.0/lib.dll
lib/bin/Release/net8.0/lib.pdb
lib/obj/Release/GeneAlgoPack.0.1.2409.22.nuspec
lib/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
lib/obj/Release/net8.0/lib.AssemblyInfo.cs
lib/obj/Release/net8.0/lib.AssemblyInfoInputs.cache
lib/obj/Release/net8.0/lib.assets.cache
lib/obj/Release/net8.0/lib.csproj.CoreCompileInputs.cache
lib/obj/Release/net8.0/lib.csproj.FileListAbsolute.txt
lib/obj/Release/net8.0/lib.dll
lib/obj/Release/net8.0/lib.GeneratedMSBuildEditorConfig.editorconfig
lib/obj/Release/net8.0/lib.GlobalUsings.g.cs
lib/obj/Release/net8.0/lib.pdb
lib/obj/Release/net8.0/lib.sourcelink.json
lib/obj/Release/net8.0/ref/lib.dll
lib/obj/Release/net8.0/refint/lib.dll
tests/bin/Release/net8.0/CoverletSourceRootsMapping_tests
tests/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
tests/obj/Release/net8.0/tests.AssemblyInfo.cs
tests/obj/Release/net8.0/tests.AssemblyInfoInputs.cache
tests/obj/Release/net8.0/tests.assets.cache
tests/obj/Release/net8.0/tests.csproj.AssemblyReference.cache
tests/obj/Release/net8.0/tests.GeneratedMSBuildEditorConfig.editorconfig
tests/obj/Release/net8.0/tests.GlobalUsings.g.cs
.vs/Gene_Algo_.Net/FileContentIndex/7af3a32c-4a78-48cb-b81a-566235ad8b05.vsidx
.vs/Gene_Algo_.Net/FileContentIndex/20805ecc-3a73-42bd-959d-9a330afcd967.vsidx
app/app.csproj
app/app.csproj
.vs/Gene_Algo_.Net/FileContentIndex/9a9017b0-29f5-49b0-9e9e-c1f0a43b6726.vsidx
.vs/Gene_Algo_.Net/FileContentIndex/266399fb-e04a-4e47-a313-875380be231a.vsidx
.vs/Gene_Algo_.Net/FileContentIndex/bbdab671-6b93-4014-b877-1b4c5fa94803.vsidx
tests/bin/Debug/net8.0/xunit.runner.visualstudio.testadapter.dll
gui/obj/gui.csproj.nuget.dgspec.json
gui/obj/gui.csproj.nuget.g.props
gui/obj/gui.csproj.nuget.g.targets
gui/obj/project.assets.json
gui/obj/project.nuget.cache
gui/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
gui/obj/Debug/net8.0-windows/App.g.cs
gui/obj/Debug/net8.0-windows/apphost.exe
gui/obj/Debug/net8.0-windows/gui_MarkupCompile.cache
gui/obj/Debug/net8.0-windows/gui_MarkupCompile.lref
gui/obj/Debug/net8.0-windows/gui_yolbenbj_wpftmp.AssemblyInfo.cs
gui/obj/Debug/net8.0-windows/gui_yolbenbj_wpftmp.AssemblyInfoInputs.cache
gui/obj/Debug/net8.0-windows/gui_yolbenbj_wpftmp.assets.cache
gui/obj/Debug/net8.0-windows/gui_yolbenbj_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
gui/obj/Debug/net8.0-windows/gui_yolbenbj_wpftmp.GlobalUsings.g.cs
gui/obj/Debug/net8.0-windows/gui_yolbenbj_wpftmp.sourcelink.json
gui/obj/Debug/net8.0-windows/gui.AssemblyInfo.cs
gui/obj/Debug/net8.0-windows/gui.AssemblyInfoInputs.cache
gui/obj/Debug/net8.0-windows/gui.assets.cache
gui/obj/Debug/net8.0-windows/gui.csproj.CoreCompileInputs.cache
gui/obj/Debug/net8.0-windows/gui.csproj.FileListAbsolute.txt
gui/obj/Debug/net8.0-windows/gui.dll
gui/obj/Debug/net8.0-windows/gui.g.resources
gui/obj/Debug/net8.0-windows/gui.GeneratedMSBuildEditorConfig.editorconfig
gui/obj/Debug/net8.0-windows/gui.genruntimeconfig.cache
gui/obj/Debug/net8.0-windows/gui.GlobalUsings.g.cs
gui/obj/Debug/net8.0-windows/gui.pdb
gui/obj/Debug/net8.0-windows/gui.sourcelink.json
gui/obj/Debug/net8.0-windows/MainWindow.baml
gui/obj/Debug/net8.0-windows/MainWindow.g.cs
gui/obj/Debug/net8.0-windows/ref/gui.dll
gui/obj/Debug/net8.0-windows/refint/gui.dll
gui/bin/Debug/net8.0-windows/gui.deps.json
gui/bin/Debug/net8.0-windows/gui.dll
gui/bin/Debug/net8.0-windows/gui.exe
gui/bin/Debug/net8.0-windows/gui.pdb
gui/bin/Debug/net8.0-windows/gui.runtimeconfig.json
info
.vs/Gene_Algo_.Net/FileContentIndex/3d510649-7539-44f5-8675-a3eadee45d86.vsidx
.vs/Gene_Algo_.Net/FileContentIndex/6ba5673d-df78-48ad-b451-70be27bbe7ba.vsidx
.vs/Gene_Algo_.Net/FileContentIndex/8164fca4-7d7a-4d99-ba88-8cbf343c016b.vsidx
.vs/Gene_Algo_.Net/FileContentIndex/38689e28-fb35-4500-ae7b-d7704cc1579c.vsidx
.vs/Gene_Algo_.Net/FileContentIndex/350649ef-d4ed-487e-8cb6-81b49b5e41b9.vsidx
.vs/Gene_Algo_.Net/v17/ResourceExplorer/settings.json
WpfApp/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
WpfApp/obj/Debug/net8.0-windows/WpfApp.AssemblyInfo.cs
WpfApp/obj/Debug/net8.0-windows/WpfApp.AssemblyInfoInputs.cache
WpfApp/obj/Debug/net8.0-windows/WpfApp.GeneratedMSBuildEditorConfig.editorconfig
WpfApp/obj/Debug/net8.0-windows/WpfApp.GlobalUsings.g.cs
.vs/Gene_Algo_.Net/FileContentIndex/2c8be7a9-9e6a-4adb-9fef-4d9e2bf742d1.vsidx
.vs/Gene_Algo_.Net/FileContentIndex/4f9113a1-9b0d-4ac8-9a33-dc465a3ba13c.vsidx
.vs/Gene_Algo_.Net/FileContentIndex/41e6ad69-d94d-49eb-93ca-a2535effa694.vsidx
.vs/Gene_Algo_.Net/FileContentIndex/357b1e4d-57f0-4363-a7f9-4eccb2bfea72.vsidx
